<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap CSS -->
    <link href="https://fonts.googleapis.com/css2?family=Spartan:wght@300;600&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/95ab7424cb.js"></script>
    <title>Iniciar Sesion | Vivian Store </title>
    <link href="css/bootstrap.min.css" rel="stylesheet"/>
	<link href="css/Login.css" rel="stylesheet"/>

</head>
<body class="bg-dark">
        <section>
        <div class="row g-0">
            <div class="col-lg-7 d-none d-lg-block">
                <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"></li>
                        <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"></li>
                    </ol>
                    <div class="carousel-inner">
                        <div class="carousel-item active min-vh-100">

                            <img src="img/login/1.jpg" class="d-block w-100 foto" alt="...">
                            <div class="carousel-caption d-none d-md-block">
                                <h5 class="font-weight-bold">LOS MEJORES PLATOS</h5>
                                <a class="text-muted text-decoration-none" href="#"> Visita nuestra tienda online</a>
                            </div>
                        </div>
                        <div class="carousel-item min-vh-100">
                            <img src="img/login/2.jpg" class="d-block w-100 foto" alt="...">
                            <div class="carousel-caption d-none d-md-block">
                                <h5 class="font-weight-bold">DESCUBRE LA MEJOR COMIDA</h5>
                                <a class="text-muted text-decoration-none" href="#"> Visita nuestra tienda online</a>
                            </div>
                        </div>
                    </div>
                    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Anterior</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Siguiente</span>
                    </a>
                </div>
            </div>
            <div class="col-lg-5 d-flex flex-column justify-content-around min-vh-100">
                <!--LOGO-->
                <div class="px-lg-3 pt-lg-2 pb-lg-1 p-4 mx-auto">
                    <img src="img/login/logovivian.png" class="img-fluid">
                </div>
                <!--FORM-->
                <div class="px-lg-5 w-100 px-3">
                    <form class="mb-4" action="/login" method="POST">
                        <div class="mb-4">
                            <label for="username" class="form-label font-weight-bold">Email</label>
                            <input type="text" class="form-control border-0 mb-2" name="username" id="username" placeholder="Ingresa tu email"  aria-describedby="emailHelp">
                        </div>
                        <div class="mb-4">
                            <label for="password" class="form-label font-weight-bold">Contraseña</label>
                            <input type="password" name="password" id="password" class="form-control border-0 " placeholder="Ingresa tu contraseña" >
                            </div>
                            <a href="#" id="emailHelp" class="form-text text-decoration-none text-muted">¿Has olvidado tu contraseña?</a>
                        
                        <div class="mb-4">
                            <button type="submit" class="btn btn-light w-100">Iniciar Sesion</button>
                        </div>
                     </form>
                    <div class="form-floating mb-2 mt-2">

                    </div>
                    <p class="font-weight-bold text-center text-muted">O inicia sesión con:</p>
                    <div class="d-flex justify-content-around">
                        <button type="submit" class="me-2 btn btn-outline-light flex-grow-1 "><i class="fab fa-google lead me-3"></i>Google</button>
                        <button type="submit" class="ms-2 btn btn-outline-light flex-grow-1 "><i class="fab fa-facebook-f lead me-3"></i>Facebook</button>
                    </div>
                </div>
                <div class="text-center px-lg-5 pt-lg-3 pb-lg-0 p-2 w-100">
                    <p class="d-inline-block mb-2">¿Todavia no tienes una cuenta?<a href="registro" class="text-light font-weight-bold text-decoration-none d-inline-block text-decoration-underline">Crea una ahora</a></p>
                </div>
            </div>

        </div>
        </section>
    <script src="/js/jquery-3.6.0.min.js"></script>

    <script src="/js/bootstrap.bundle.min.js"></script>

</body>
</html>