<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/_layout}">
<head>
<meta charset="ISO-8859-1">
<title>Marca</title>
</head>
<body>
<!--TODO: arreglar Links -->
<div layout:fragment="content">
	  <ol class="breadcrumb mb-4 mt-4">
	    <li class="breadcrumb-item"><a href="#">Mantenedores</a></li>
	    <li class="breadcrumb-item active">Marcas</li>
	</ol>
	
	<div class="card mb-4">
	    <div class="card-header">
	        <i class="fas fa-table me-1"></i> Listado de Marcas
	    </div>
	    <div class="card-body">
	        <div class="row">
	            <div class="col-sm-12">
	                <button class="btn btn-success" type="button" onclick="abrirModal(null)">Crear Nuevo</button>
	            </div>
	        </div>
	
	        <hr />
	        <table id="tabla" class="display responsive" style="width:100%">
	            <thead>
	                <tr>
	
	                    <th>Descripcion</th>
	                    <th>Activo</th>
	                    <th>Opciones</th>
	                </tr>
	            </thead>
	            <tbody></tbody>
	        </table>
	    </div>
	</div>
</div>

<th:block layout:fragment="script">
    <script src="js/index.js"></script>
</th:block>
</body>
</html>