<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/_layout_tienda}">

<body>
<div class="row mt-5 g-0" layout:fragment="content">
    <div class="container-fluid g-0">
    <img class="img-fluid" src="/img/vivian/bannervivian.png"/>
    </div>
    <div class="py-2">
        <div class="container px-2 px-lg-2 mt-5">
            <div id="catalogo-productos" class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">

            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Seleccione una Categoría</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row row-categoria">
                </div>

            </div>
            <div class="modal-footer">

            </div>
        </div>
    </div>
</div>
<th:block layout:fragment="script">
    <script src="/js/tienda.js"></script>
</th:block>
</body>
</html>